<div class="text">
  <div class="img-1" style="float: right; width: 50%; height: 50%;">
    <img src="assets/root.jpg">
  </div>

  <div class="col-sm-8 col-lg-4">
    <div class="about_text" style="text-align:center ;float: left; ">
      <h2>Where The Food’s As Good As The Root Beer.</h2>
    </div>
  </div>
</div>  
  <!-- <div class="container">   
  <table class="table table-bordered">

     <thead class="thead-dark">
      <tr>
        <th>Img</th>
        <th>Name</th>
        <th>Category</th> 
        <th>Price</th>
    
      </tr>
      </thead>
    <tbody><%= render @dishes %></tbody>
    </table>
  </div>
   -->