<div class="container">
  <div class ="col-md-8">
  <div class="row">
   <div class="col-md-3 col-sm-3 col-6">
  <% @dishes.each do |dish| %>
    <%= render 'dish' , dish: dish%> 
  <% end %>
</table>
</div>
  </div>
  </div>
  </div>