.main_menu .main-menu-item ul li a {
  color: #2c3033 !important;
  font-size: 16px;
  padding: 0px 22px !important;
  font-family: "Lora", serif;
}
.main_menu .main-menu-item ul li a {
    padding: 0px 60px !important;
  }

  .main_menu .main-menu-item ul li a:hover {
  color: #ff6426 !important;
}
body {
    font-family: "Lora", serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
   
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

a {
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
li {
    text-align: -webkit-match-parent;
}
body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
img {
    vertical-align: middle;
    border-style: none;
   
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(0,0,0,.9);
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}
a:hover {
    color: #ff6426 !important;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.btn_1 {
    display: inline-block;
    padding: 9.5px 28px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    color: #ff6426;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    box-sizing: border-box;
}
.banner_part {
    height: 880px;
    position: relative;
    background-image: url(/assets/banner_bg.png);
    background-repeat: no-repeat;
    background-size: 41%;
    background-position: top right;
}
.text{
	align-items: center!important;
}
.about_text h2 {
    line-height: 1.25;
    margin-bottom: 25px;
    font-size: 40px;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
