

        <div class="container" style="background: antiquewhite;">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="home"> <img src="assets/logo.png" alt="logo">  </a>
                        

                        <div class="collapse navbar-collapse main-menu-item justify-content-end"
                            id="navbarSupportedContent">
                            <li class="navbar-nav">
                                  <h1>Category:</h1> 
                                  <div class="thead-dark">
                        <ul class="category" style="text-align:;float:left;color:blue;  ">
                        <% @categories.each do |category,detail|%>
                        <h3> <%= link_to "#{category.name}", category_dishes_path(category) %> </h3>

                             <%end%> 
                              </ul>
                             </div>

