<% provide(:title, 'All tables') %>
<h1>All Tables</h1>
<%= will_paginate %>
<table class="table">
  <tr>
    <th>Name</th>
	</tr>
	<% @tables.each do |table| %>
	`	<tr>
			<%= link_to table.name, admin_table_path(table) %>
		</tr>
	<% end %>`
</table>
<%= will_paginate %>