<% provide(:title, @table.name) %>
<div class="row">
    <aside class="col-md-4">
        <section>
            <h1>
            <%= @table.name %>
            <%= @table.status %>
            </h1>
        </section>
    </aside>
</div>