<li>
    <%= link_to "#{dish.name}", admin_category_dish_path(@category,dish), class: "btn btn-info" %> |
    <%= link_to "#{dish.name}", admin_category_dish_path(@category,dish), class: "btn btn-info" %>
    <%= link_to "Delete", admin_category_dish_path(@category,dish), method: :delete,
            data: { confirm: "You sure this dish?" } %>
</li>