<% provide(:title, @dish.name) %>
<div class="row">
<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>Money($)</th>
		</tr>
	</thead>
	<tr>
<td>
      <%= @dish.name %>   </td>
     <td> <%= @dish.money%> 	
      </td>
</tr>
</table>
</div>
</div>


