<% provide(:title, @dish.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= @dish.name%>
        <%= @dish.money%>
      </h1>
    </section>
  </aside>
</div>
